VITE_FIREBASE_API_KEY=AIzaSyChTONAiosUjCw4s6cDxejZQBFwXeXTlv4
VITE_FIREBASE_AUTH_DOMAIN=recipiebookjs.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=recipiebookjs
VITE_FIREBASE_STORAGE_BUCKET=recipiebookjs.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=993845626443
VITE_FIREBASE_APP_ID=1:993845626443:web:864863c3f7905622772fce
VITE_FIREBASE_MEASUREMENT_ID=G-2YE0G5S6LX
VITE_RECIPE_COLLECTION=recipes
VITE_RECIPE_USER_COLLECTION=recipes
